@import '../../scss/variables';
@import '../../scss/libs/normalize';

.cart {
   margin: 0 auto;
   width: 85%;
   padding-top: 160px;

   @media (max-width: $mobile) {
     padding-top: 100px;
   }

   &__top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 50px;
   }

   .content__title {
     display: flex;
     align-items: center;
     font-size: 46px;
     line-height: 56px;

     @media (max-width: $large-mobile) {
       font-size: 24px;
       line-height: 32px;
     }
   }

   &__clear {
     display: flex;
     align-items: center;
     cursor: pointer;
     @include noselect();

     span {
       display: inline-block;
       margin-left: 7px;
       color: $gray;
       font-size: 16px;
       line-height: 26px;
     }

     span,
     svg,
     path {
       transition: all $duration ease-in-out;
     }

     &:hover {
       svg {
         path {
           fill: $black;
         }
       }
       span {
         color: $black;
       }
     }
   }

   &__item {
     display: grid;
     grid-template-columns: 0.2fr 2fr 0.5fr 0.5fr 0.1fr;
     width: 100%;
     border-bottom: 1px solid $light-gray;
     padding-bottom: 14px;

     @media (max-width: $large-tablet) {
       grid-template-columns: 0.2fr 1fr 0.5fr 0.5fr 0.1fr;
     }

     @media (max-width: $tablet) {
       grid-template-columns: 0.2fr 1fr 0.4fr 0.4fr 0.1fr;
     }

     @media (max-width: $small-tablet) {
       grid-template-columns: 0.2fr 0.8fr 0.4fr 0.4fr 0.1fr;
     }

     @media (max-width: 700px) {
       gap: 8px;

       .cart__item-img {
         grid-column: 1/1;
         grid-row: 1/1;
       }

       .cart__item-info {
         grid-column: 2/6;
         grid-row: 1/1;
       }

       .cart__item-count {
         grid-column: 2/2;
         grid-row: 2/2;

         @media (max-width: 450px) {
           grid-column: 2/4;
         }
       }

       .cart__item-price {
         grid-column: 6/6;
         grid-row: 2/2;
       }

       .cart__item-remove {
         grid-column: 6/6;
         grid-row: 1/1;
         align-items: baseline;
       }
     }

     &-img {
       display: flex;
       align-items: center;
       margin-right: 16px;

       @media (max-width: $large-mobile) {
         margin-right: 0;
       }

       img {
         width: 80px;
         height: 80px;

         @media (max-width: $large-mobile) {
           width: 51px;
           height: 51px;
         }
       }
     }

     &-info {
       display: flex;
       flex-direction: column;
       justify-content: center;

       h3 {
         font-weight: 700;
         font-size: 20px;
         line-height: 30px;
         color: $black;
         margin-bottom: 4px;

         @media (max-width: $mobile) {
           font-size: 16px;
           line-height: 20px;
         }
       }

       p {
         font-size: 16px;
         color: $gray;

         @media (max-width: $mobile) {
           font-size: 12px;
           line-height: 16px;
         }
       }
     }

     &-count {
       display: flex;
       align-items: center;
       justify-content: space-between;

       b {
         font-size: 20px;
         line-height: 30px;

         @media (max-width: $mobile) {
           font-size: 16px;
           line-height: 26px;
         }
       }

       &-minus {
         border-radius: 50%;
         background-color: $light-gray;
         svg {
           path:first-of-type {
             display: none;
           }
         }
       }

       &-plus {
         border-radius: 50%;
       }
     }

     &-price {
       display: flex;
       align-items: center;
       justify-content: center;

       b {
         font-weight: 700;
         font-size: 22px;

         @media (max-width: $small-tablet) {
           font-size: 16px;
           line-height: 26px;
         }
       }
     }

     &-remove {
       display: flex;
       align-items: center;
       justify-content: flex-end;

       .button {
         border: none;
         background-color: transparent;
       }

       .button {
         svg {
           path {
             fill: $gray;
           }
           &:hover {
             path {
               fill: $black;
             }
           }
           position: relative;
         }
       }
     }
   }

   &__bottom {
     margin: 50px 0;

     &-details {
       display: flex;
       justify-content: space-between;

       span {
         font-size: 24px;

         @media (max-width: $large-mobile) {
           font-size: 16px;
         }

         &:last-of-type {
           font-weight: 700;
           b {
             color: $yellow;
           }
         }
       }
     }

     &-buttons {
       display: flex;
       justify-content: space-between;
       margin-top: 80px;

       @media (max-width: $large-mobile) {
         margin-top: 50px;
       }

       .go-back-btn {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 16px 43px;
         border-radius: 14px;
         border-color: transparent;
         background-color: $light-gray;
         width: 120px;

         @media (max-width: 400px) {
           padding: 12px 26px;
           width: 80px;
         }

         span {
           color: $black;
           font-weight: 700;
         }

         &:hover {
           background-color: $white;
           border: 1px solid $black;
         }

         &:active {
           background-color: $light-gray;
         }

         svg {
           margin-right: 12px;
           path {
             fill: transparent;
           }
         }
       }

       .pay-btn {
         font-size: 16px;
         font-weight: 700;
         padding: 16px 54px;
         background-color: $yellow;
         border-radius: 14px;
         width: 120px;

         @media (max-width: 400px) {
           padding: 12px 26px;
           width: 80px;
         }

         span {
           color: $black;
         }

         &:hover {
           background-color: $white;
           border: 1px solid $black;
         }

         &:active {
           background-color: $light-gray;
         }
       }
     }
   }

   &--empty {
     margin: 0 auto 200px;
     text-align: center;

     @media (max-width: $large-mobile) {
       margin: 0 auto;
     }

     h2 {
       font-size: 46px;
       line-height: 56px;
       margin-bottom: 30px;

       @media (max-width: $large-mobile) {
         font-size: 24px;
         line-height: 32px;
       }
     }

     p {
       font-size: 20px;
       line-height: 30px;
       color: $gray;
       margin-bottom: 40px;
     }

     i {
       font-style: normal;
       position: relative;
       top: 2px;
     }

     img {
       display: none;
       width: 300px;
       margin: 45px auto 60px;
     }

     .button--black {
       padding: 16px 56px;
       border-radius: 14px;
       background-color: $yellow;
       margin: 0 auto;
       font-weight: 700;
       font-size: 16px;

       span {
         color: $black;
       }
     }
   }
 }