@import '../variables';

.categories {
  flex: 1;
  max-width: 80%;
  overflow: auto;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  ul {
    display: flex;

    li {
      background-color: $light-gray;
      padding: 16px 28px;
      border-radius: 30px;
      margin-right: 17px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken($light-gray, 6%);
      }

      &:active {
        background-color: darken(#f9f9f9, 10%);
        font-weight: 700;
      }

      &.active {
        background-color: $black;
        color: $white;
        font-weight: 700;
      }
    }
  }
}