@import '../variables';

.categories {
  flex: 1;
  overflow: auto;
  padding-top: 160px;

  @media (max-width: 1500px) {
    max-width: 100%;
    margin-bottom: 30px;
    padding-bottom: 16px;
  }

  @media (max-width: 900px) {
   margin-left: 11%;
  }

  @media (max-width: $mobile) {
    padding-top: 100px;
  }

  ul {
    display: flex;
   
    li {
      background-color: $light-gray;
      padding: 16px 28px;
      border-radius: 30px;
      margin-right: 17px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken($light-gray, 6%);
      }

      &.active {
        background-color: $black;
        color: $white;
        font-weight: 700;
      }
    }
  }
}