@import '../variables';

.header {
  

  .container {
    display: flex;
    border-bottom: 1px solid $gray-line;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    &__cart {
      margin-top: 30px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
      width: 54px;
    }

    h1 {
      font-family: 'Fivo Sans Modern';
      color: #151515;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
    }

    p {
      color: $gray;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
