@import '../variables';

.header {
  
  .container {
    display: flex;
    border-bottom: 1px solid $light-gray;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width: $large-mobile) {
      border-bottom: none;
    }

    @media (max-width: $mobile) {
      padding: 28px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
      width: 54px;

      @media (max-width: $mobile) {
        width: 46px;
        margin-right: 12px;
      }
    }

    h1 {
      font-family: 'Fivo Sans Modern';
      color: $black;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      font-weight: 700;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    p {
      color: $gray;
      font-weight: 400;
      font-size: 16px;

      @media (max-width: $large-mobile) {
        font-size: 12px;
        line-height: 15px;
        width: 95%;
      }
      
    }
  }
}
