@import '../variables';

body {
  background-color: $light-gray;
  padding: 50px 0;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: $white;
  margin: 0 auto;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  &__title {
    font-size: 46px;
    line-height: 56px;
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 73px;
  }
}

.noclick {
  pointer-events: none;
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
  
   width: 90%;
   margin: 0 auto;
    .content__title {
      margin: 0;
    }
  }
}
