@import '../../scss/variables';

.pizza-block {
  padding: 40px;
  width: 100%;
  text-align: center;
  transition: box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: 30px 30px 74px rgba(30, 70, 129, 0.08);
    border-radius: 24px;
  }

  @media (max-width: $large-tablet) {
    padding: 20px;
  }

  @media (max-width: $small-tablet) {
    width: 70%;
    margin: 0 auto;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  @media (max-width: $large-mobile) {
    padding: 20px;
  }

  &__image {
    width: 260px;

    @media (max-width: $large-mobile) {
      width: 217px;
    }
  }

  &__title {
    margin-top: 14px;
    font-size: 24px;
    line-height: 30px;
    color: $black;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__selector {
    display: flex;
    background-color: $light-gray;
    border-radius: 14px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 30px 20px 74px rgba(30, 70, 129, 0.1);

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 10px;
      }

      li {
        padding: 8px;
        color: $black;
        flex: 1;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        @include noselect();
        &.active {
          background: $white;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
          font-weight: 700;
          color: $black;
        }
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
  }

  &__price {
    color: $black;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $mobile) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
