@import '../variables';

.sort {
  margin-left: 20px;
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
      transform: rotate(180deg);

      &.rotated {
        transform: rotate(0);
      }
    }

    b {
      margin-right: 16px;
      color: $gray;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
    }

    span {
      color: $black;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      padding: 18px;
      background-color: $light-gray;
      border-radius: 14px;

      svg {
        transform: rotate(360deg);
        margin-left: 30px;
      }
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 10px;
    background: $white;
    border-radius: 14px;
    overflow: hidden;
    width: 190px;
    filter: drop-shadow(2px 14px 34px rgba(41, 63, 141, 0.08));

    ul {
      overflow: hidden;

      :first-child {
          border-radius: 14px 14px 0 0;
        }

      li {
        padding: 12px 17px;
        cursor: pointer;
        font-size: 16px;
        line-height: 26px;
        transition: all 0.2s ease-in;
      
        &:hover {
          background-color: $light-gray;
          font-weight: 700;
          color: $black;
        }

        &.active {
          background-color: $light-gray;
          font-weight: 700;
          color: $black;
        }
      }
    }
  }
}