@import '../../scss/variables';
@import '../../scss/libs/normalize';

.button {
  display: inline-block;
  padding: 16px 34px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  @media (max-width: $mobile) {
    padding: 11px 21px;
  }

  &,
  span {
    color: $white;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: $yellow;
    border-color: 1px solid $yellow;
    border-radius: 14px;
    font-size: 16px;

    &,
    span {
      color: $black;
    }

    svg {
      path {
        fill: $black;
      }
    }

    &:hover {
      background-color: $white;
      border: 1px solid $black;

      &,
      span {
        color: $black;
      }

      svg {
        path {
          fill: $black;
        }
      }
    }

    &:active {
      background-color: darken($white, 8%);
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: $white;
    margin-left: 14px;
    margin-right: 14px;

    @media (max-width: $mobile) {
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  &--add {
    img {
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        color: $black;
      }
    }

    i {
      display: inline-block;
      color: $black;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      position: relative;
      font-style: normal;
      left: 5px;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 11px 17px;
    background-color: $black;
    border-radius: 14px;
    transition: all $duration ease;

    @media (max-width: $mobile) {
      padding: 8px 12px;
    }

    img {
      margin-right: 8px;
      margin-bottom: 1px;

      @media (max-width: $mobile) {
        margin-right: 3px;
      }
    }

    span {
      font-weight: 600;
      font-size: 16px;
      color: $white;

      @media (max-width: $mobile) {
        font-size: 12px;
      }
    }

    &:hover {
      background-color: $white;
      border: 1px solid $black;

      .button__delimiter {
        background-color: $black;
      }

      span {
        color: $black;
      }

      img {
        filter: invert(100%);
      }
    }
  }
}
