$black: #151515;
$background: #d6cece;
$gray: #8B949D;
$light-gray: #ECEEF0;
$yellow: #FFD842;
$white: rgb(255, 255, 255);
$container-width: 85%;
$duration: 0.15s;

$small-mobile: 374px;
$mobile: 520px;
$large-mobile: 767px;

$small-tablet: 800px;
$tablet: 1001px;
$large-tablet: 1200px;

$desktop: 1400px;
$large-desktop: 1900px;
$extralarge-desktop: 2300px;