@import 'fonts';
@import 'variables';
@import 'libs/normalize';

body {
  background-color: $white;

  @media (max-width: $desktop) {
    padding: 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: $white;
  margin: 0 auto;
  max-width: 1500px;

  @media (max-width: $desktop) {
    width: 100%;
  }
}

.content {
  @media (max-width: $mobile) {
    padding: 10px 0;
  }

  &__title {
    margin: 35px 0;
    font-size: 46px;
    line-height: 56px;

    @media (max-width: $large-mobile) {
      font-size: 35px;
      line-height: 40px;
      margin: 10px 0;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 32px;
      margin: 10px 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;

    @media (max-width: 1550px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $large-tablet) {
      column-gap: 10px;
    }

    @media (max-width: $small-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 73px;

    @media (max-width: 1500px) {
      flex-direction: column;
    }

    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    width: 100%;

    .content__title {
      margin: 0;
    }

    @media (max-width: $large-mobile) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .content__items {
      grid-template-columns: 1fr;
    }
  }
}

.noclick {
  pointer-events: none;
}
